#head2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 19px;
	font-weight: 200;
	color:black;
	  padding-bottom: 5px;
}
#head {
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	font-weight: 200;
	color:black;
}
#main {
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	font-weight: 400;
	letter-spacing: 1px;
	color:black;
	padding-bottom:5px;
}
#name {
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	font-weight: 800;
	letter-spacing: 2px;
	color:rgba(143, 184, 227, 1);
}
.secondPart {
	background-color: white;
}
p {
	font-family: "Hammersmith One", serif;
	font-size: 18px;
	font-weight: lighter;/*letter-spacing: .2px;
  margin-top:-20px;*/
}
h3 {
	font-family: "Lato", sans-serif;
	font-size: 30px;
}
.button-design {
	background-color: white;
	height: 50px;
	border: 2px solid black;
	border-radius: 100px;
	padding: 0px 5px 0px 5px;
	z-index: 1;
	
}

.icon-size {
	height: 22px;
	width: 32px;
	margin: 10px 0px 0px -8px;
}
.button-div {
	padding-right: 0px;
	padding-left: 0px;
}
.div-setting {
	height: 24.1em;
	width: 14.7em;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}
#searchBarDiv {
	background: rgba(143, 184, 227, 1);
	color: white;
	border: 0px solid black;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 500;
	color: white;
}
#searchBarHeading {
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	font-weight: 700;
	color: white;
	padding-bottom:10px;
}
#searchBarHeadingMain{
	font-family: 'Open Sans', sans-serif;
	font-size: 19px;
	font-weight: 700;
	color: white;
	letter-spacing:2px;
}
#refine {
	background-color: rgba(242, 242, 242, 1);
}
#results {
	background-color: white;
}
#body{
	background-color: white;
}
#similarResults {
	background-color: #F3F3F9;
	border-left: 1px solid #A4A2A2;
	box-shadow: 2px 0px 5px rgba(0,0,0,.3) inset;
}
#searchBar {
	padding: 8px 15px;
	background: white;
	border: .3px solid white;
	border-radius:2px;
	box-shadow: 5px 5px 10px rgba(0,0,0,.3);
	z-index: 1;
	color: black;
	width:520px;
	border-radius:5px;
}
#searchBar:active {
}
#searchButton {
	position: relative;
	padding: 6px 15px;
	height: 37px;
	width: 40px;
	background-size: 40px 40px;
	left: -8px;
	border: .1px solid white;
	background-image: url(glass.png);
	border-radius:2px;
	color: #fafafa;
	box-shadow: 5px 5px 10px rgba(0,0,0,.3);
	border-radius:20px;
}
#activtyIconSec {
	position: relative;
	border: 2px;
	padding-right:0px;
	padding-left:0px;
	margin: 10px 0px 10px 0px;
}
#activityIconImage {
	height: 80px;
	width: 150px;
	padding-bottom: 0px;
	box-shadow: 5px 5px 10px rgba(0,0,0,.3);
	z-index: 1;
	border-width: 1px;
  border-style: solid;
  border-color: rgb(121, 121, 121);
}
#activityIconImageSimilar {
	height: 60px;
	width: 120px;
	padding-bottom: 0px;
	box-shadow: 5px 5px 10px rgba(0,0,0,.3);
	z-index: 1;
	border-width: .3px;
	border-style: solid;
	border-color: black;
	margin-left:20px;
	margin-right:0px;
}
#activityTextSimilar {
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	font-weight: 400;
	letter-spacing: .2px;
	margin-top: 2px;
	color:black;
	margin-left:20px;
	margin-right:0px;
}
#activityText {
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	font-weight: 400;
	letter-spacing: .2px;
	margin-top: 2px;
	color:black;
}
a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-family: "Hammersmith One", sans-serif;
}
a:link {
	color: white;
	text-decoration: none;
	font-family: "Hammersmith One", sans-serif;
}
a:active {
	color: black;
	text-decoration: none;
	font-family: "Hammersmith One", sans-serif;
}
.drop-downButton {
	background-color: #207CCA;
}
#header {
	height: 30px;
	background-color: white;
}
#grade {
	border-radius: 100px;
}
.extraSpace {
	height: 40px;
}
.plainSpaceInSearch{
	height: 25px;
	width:100%;
}
#extraCol{
	width:100px;
	background-color:white;
	height:10000px;
}

#mail-button {
	  border: 2px solid rgba(143, 184, 227, 1);
  margin-top: 5px;
}

#footer {
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	font-weight: 400;
	letter-spacing: 1px;
	color:white;
	background-color:#8FB8E3;
}
